*{ 
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
   
body {
   background-color:aliceblue;
    background-image: url("photos/wp8757587.webp"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
   
}
 
span{
    color:grey;
    padding-left: 10px;
    padding-top: 15px;
}
header{
	position:fixed;
	top: 0;
	left:0;
	width: 100%;
	padding: 10px 20px;
	background: #060606d9; 
	display: flex;
	justify-content:space-between;
	align-items:center;
	z-index:99;
} 

h3{
    color:#f9f9f9;
    text-align: left;

}

i{
    padding-right: 10px;
    text-align: left;
}

.logo{
    margin: 10px;

}

#user-name{
    color:#f9f9f9;
}



button {
    display: block;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.F1_Live{
	border-radius:5px;
	font-size:2em;
	color:#fff;
	user-select:none;
}


.navigation a{
	position:relative;
	font-size: 1.1em;
	color:#fff;
	text-decoration:none;
	font-weight:300; 
	margin-left:50px;
}

.navigation a::after{
    content:'';
	left:0;
	bottom:-6px;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
	border-radius:5px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform .5s;


}

.navigation a:hover::after {
	transform-origin: left;
    transform: scaleX(1);
}


.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
  }
	
.footer-info {	
    margin-top: 30px;	
    text-align: center;
    flex: 1;
    color: black;
}



/* Add news form */
#addNewsForm {
    display: none;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

#addNewsForm h3 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20;
}

#addNewsForm input[type="text"],
#addNewsForm input[type="file"],
#addNewsForm textarea,
#addNewsForm input[type="date"],
#addNewsForm button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addNewsForm button {
    background-color: #6e021a;
    color: white;
    cursor: pointer;
}

#addNewsForm button:hover {
    background-color: #6e021a;
}

#addNewsForm input[type="file"] {
    padding: 8px 0;
}

#addNewsForm input[type="file"]::-webkit-file-upload-button {
    padding: 10px 10px;
    background-color: #6e021a;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#addNewsForm input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #6e021a;
    
}

/* Added news */
#newsContainer {
    margin-top: 120px;  
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4px; 
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
    
}


.news {
    position: relative;
    box-shadow: 3px 0 8px 3px rgba(30, 29, 29, 0.388);
    width: calc(33% - 1px); 
    background-color:rgb(23, 23, 23);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-right: 5px;
    color:#fff;
    border-bottom: 5px solid #3a383879;
}
.news h3 {
    font-size: 1em;
    margin-bottom: 8px;
    color:#fff;
}
.news h4 {
    font-size: 1em;
    margin-bottom: 8px;
    color:#fff;
    border-bottom: 5px solid #3a383879;
}

.news h5 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color:#fff;   
}
.news img {
    
    display: block;
    margin: 0 auto;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.news img {
    display: block;
    margin: 0 auto;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.content-container {
    height: 100px; 
    overflow-y: auto; 
    padding-bottom: 5px;
    margin: 20px 0px;
    background-color: #fffdfd15;
    border-radius: 5px;
}

.content-container::-webkit-scrollbar {
    width: 10px;
}

.content-container::-webkit-scrollbar-thumb {
    background-color: #2a2728;
    border-radius: 10px;
}

.news i{
    padding-right: 10px;
}

.news p {
    color: #fff;
    display: flex; 
    justify-content: space-between; 
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
    font-size: 1em;
    line-height: 1.4;
    margin-bottom: 10px;
}

.news p:last-child {
    margin-bottom: 0;
}

.deleteButton {
    color:#d8d1d1;
    position: absolute; 
    top: 10px;
    right:0px; 
    border-radius: 50%; 
}   

.deleteButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 10px;
    text-align: right;
    padding: 1px;
    font-size: 1.3rem;
    
}


.deleteButton:focus {
    outline: none;
} 

.buton-container{
    display: flex;
    margin-left: 10px;
    
}

.commentButton{
    margin-left: 10px;
    margin-right: 20px;
}

.commentHere-container {
    width: 100%; 
    height: 180px; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #782c2c; 
    border-radius: 5px;
    margin-bottom: 10px; 
}



.deletеCommentButton {
    color:#d8d1d1;
    border-radius: 50%; 
}   

.deletеCommentButton {
    background-color: transparent; 
    border: none;
    padding: 1px;
    padding-left: 250px;
    font-size: 1.3rem;
    
}


.deletеCommentButton:focus {
    outline: none;
} 

.deletеCommentButton i{
    padding-left: 120px;
}
.commentButton,
.readComment {
    background-color: #860606;
    width: 45%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #090000b3;
    padding: 5px;
} 

.comment {
    background-color: #12111142;
    border-top: 5px solid #3a38389d;
    border-bottom: 5px solid #3a38389d;
    padding-bottom: 3px;
}


.comments-container {
    max-height: 150px; 
    overflow-y: auto; 
}

.comments-container::-webkit-scrollbar {
    width: 8px; 
}

.comments-container::-webkit-scrollbar-thumb {
    background-color: #2a2728;
    border-radius: 5px;
}
.comments-container p{
    left:2px;
    margin-top: 4%;
    
}

.comment .deleteButton{
    color:#f9f9f9;
}

 

@media (max-width: 768px) {
    .news {
        width: calc(50% - 20px); 
    }
}
