*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'Poppins',sans-serif;
} 

header{
	
	position:fixed;
	top: 0;
	left:0;
	width: 100%;
	padding: 10px 20px;
	background: #090000b7; 
	display: flex;
	justify-content:space-between;
	align-items:center;
	z-index:99;
} 

.F1_Live{
	border-radius:5px;
	font-size:2em;
	color:#fff;
	user-select:none;
}

.navigation a{
	position:relative;
	font-size: 1.1em;
	color:#fff;
	text-decoration:none;
	font-weight:300; 
	margin-left:50px;
}


.navigation a::after{
    content:'';
	left:0;
	bottom:-6px;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
	border-radius:5px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform .5s;


}


body {
    padding-top: 100px;
    max-width: 800px; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("photos/360_F_399142352_IazbrsaVuFOUnDEbVvLafa3VwCmaxG05.jpg"); 
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size:cover;
}

body::after {
    content: '';
    position: fixed;
    bottom: 0;
    right: 0;
    width: 900px; 
    height: 300px; 
    background-image: url("photos/pngegg\ \(1\).png"); 
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.drivers-image {
    width: 30%;
    position: fixed;
    bottom: 25px;
    left: 30px;
}



@media screen and (max-width: 768px) {
    .my-element {
        width: 100%;
        max-width: 500px;
    }
}
    
.center-text {
    position:relative;
    bottom:190px;
    left: 45%;
}

.textarea {
    text-align: center;
    background-color: #9491912e;
    border-radius: 20px;
    padding: 40px;
}

.textarea h4 {
    font-size: 4em;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textarea h3 {
    font-size: 3em;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}






/* Допълнителни настройки */
.navigation a:hover::after {
	transform-origin: left;
    transform: scaleX(1);
}



/* Бутона за Login */
.navigation .btnLogin-popup {
	width:130px;
	height:50px;
	border:3px solid #949191;
	outline:none;
	border-radius:6px;
	cursor: pointer;
	font-size:1.3em;
	color: #8D021F;
	font-weight:70;
	margin-left:50px;
	transition: .5s;
	
}
 /* Допълнителни настройки за Login */
.navigation .btnLogin-popup:hover{
    background: #8D021F;
    color: #fff;
	}
	
.wrapper {
    position: fixed;
    width: 400px;
    height: 480px;
    background: transparent;
    border: 2px solid rgba(239, 13, 13, 0.541);
    border-radius: 20px;
    backdrop-filter: blur(60px);
    box-shadow: 5px 0 5px 3px rgba(184, 50, 50, 0.388);
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden;  
    transform: scale(0);  
    transition: transform 0.5s ease, height 2s ease;

}

.wrapper.active-popup{  
    transform: scale(1);
}

.wrapper .active {
    height: 600px;
}


.wrapper .form-box {
    width: 100%;
    padding: 50px;
}

 .wrapper .form-box.login {  
    transition: transform .18s ease;
	transform: translateX(0);

 }   
 
.wrapper.active .form-box.login {
	position: absolute;
	transition: none; 
	transform: translateX(-400px); 
  } 
 
 .wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
    height: 440px; 
}

.wrapper.active .form-box.register { 
    transition: transform .18s ease;
    transform: translateX(0);
    height: 520px; 
}
 

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background:#8f4d4d6f;
	font-size: 2em;
	color:fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	z-index: 1;

}

.form-box h2 {
    font-size: 2em;
    color: #faf6f6ad;
    text-align: center;
}


 .input-box{
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #faf6f6ad;
    margin: 30px 0;
 }

.input-box label{
    position: absolute;
	top: 0%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 1em;
	color:#faf6f6ad;
	font-weight: 500;
	pointer-events: none;
	transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
	font-size: 1em;
	color: #faf6f6ad;
	font-weight: 600;
	padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
	font-size: 1.2em;
	color:#faf6f6ad;
	line-height: 57px;

}

.remember-forgot{
    font-size: .9em;
    color:#faf6f6ad;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color:#faf6f6ad;
    margin-right: 3px;
}

.remember-forgot a {
    color: #faf6f6ad;
	text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
	background:#162938;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #faf6f6ad;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #faf6f6ad;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #8D021F;
	color: white;
	text-align: center;
  }
	
.footer-info {	
margin-top: 30px;
text-align: center;
flex: 1;
color: black;
}